/* Reset */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Variables */

:root {
    --jolly-font: "Gabriela", serif; 
    --inter-font: "Inter", sans-serif;
}

/* Layout */

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: var(--jolly-font);
}